.Control-Buttons{
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   width: 100%;
   margin:3rem 0 ;

}
.btn-grp{
  display: flex;
  justify-content:center;
  align-items: center;

}
.btn {
      font-family: sans-serif;
      border: 2px solid blue;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: black;
      width: 10vw;
      height: 6vh;
      margin: 22px 11px ;

}
.btn-one{
    background-color:rgb(201, 218, 218);
}
.btn-two{
  background-color:rgb(201, 218, 218); ;
}